body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

#app {
    font-family: STKaiti, KaiTi, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: #fcfcfc;
    font-size: 0.83334vw;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    /* 14/1920 */
}

#app:hover ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
input,
video {
    font-family: STKaiti, KaiTi, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.el-divider__text,
.el-link,
.el-button,
.el-form-item__label,
.el-radio__label,
.el-input,
.el-table,
.el-date-editor .el-range-input,
.el-form-item__content,
.el-timeline,
.emphasize {
    /* 主要文字 */
    font-size: 0.83334vw;
}

.el-tag--mini,
.el-tag--medium {
    height: 3.2vh;
    line-height: 3vh;
}

.el-divider--horizontal {
    margin: 1.5% 0;
}

.el-divider__text,
.el-table__body-wrapper,
.el-tree,
.el-table th,
.el-table__footer-wrapper,
.el-table__header-wrapper {
    background-color: #fcfcfc;
}

.el-badge {
    /* margin-top: -10px; */
}

.el-menu--popup,
.el-popover,
.el-submenu .el-menu-item {
    min-width: auto;
}

.el-tree>.el-tree-node {
    display: inline-block;
    min-width: 100%;
}

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 0.625vw;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 0.625vw;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    border-radius: 0.625vw;
    background: rgba(0, 0, 0, 0.0);
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    border-radius: 0.625vw;
    background: rgba(0, 0, 0, 0);
}

.alnlft {
    text-align: left;
}

.alnrit {
    text-align: right;
}

.alncnt {
    text-align: center;
}

.normal {
    /* 普通文字 */
    font-size: 0.72917vw;
}

.title {
    /* 标题文字 */
    font-size: 0.9375vw;
    font-weight: 500;
    /* 18/1920 */
    cursor: default;
}

.icon {
    /* 图标 */
    font-size: 1.5vw;
}

.h997 {
    /* 全屏高 */
    height: 99.7vh;
    overflow: auto;
}

.hh5 {
    /*顶部栏*/
    height: 5vh
}

.th4 {
    /*tag 标签*/
    height: 3.5vh;
    margin: 0.3vw 0.5vw 0 0.5vw;
}

.w100 {
    /* 全屏宽 */
    width: 100vw
}

.shadow {
    /* 阴影 */
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 6px rgba(0, 0, 0, 0.35);
}

.messageBox {
    /* 消息框 */
    min-width: 3vw;
    font-size: 1vw;
    padding: 1vh;
}

.treeSearch {
    height: 5vh;
}

.treeMH {
    height: 78vh;
    overflow: auto
}