body {
    margin: 0;
    padding: 0;
    border: 0;
}

#app {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #606266;
    font-size: 0.72917vw;
    overflow-x: hidden;
    /* 14/1920 */
}

.normal {
    font-size: 0.72917vw;
}

.emphasize {
    color: #303133;
    font-size: 0.83334vw;
    /* 16/1920 */
}

.ignore {
    color: #909399;
    font-size: 0.625vw;
    /* 12/1920 */
}

.icon {
    font-size: 1.5vw;
}

.verRollView {
    height: 88vh;
    overflow-y: auto;
}

.h997 {
    height: 99.7vh;
}

.w100 {
    width: 100vw
}

.h5l5 {
    height: 5vh;
    line-height: 5vh;
}

.shadow {
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}

.header-cell-class-name {
    color: #303133;
    font-size: 0.83334vw;
    white-space: nowrap;
}

.cell-class-name {
    color: #303133;
    font-size: 0.72917vw;
}

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 0.72917vw;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 0.72917vw;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: #f8f8f9;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #f9f9f9;
}